<?xml version="1.0" encoding="UTF-8"?>

<configuration>

    <!-- log 目錄 -->
    <property name="LOG_PATH" value="logs"/>

    <!-- Console 輸出 -->
    <appender name="CONSOLE"
              class="ch.qos.logback.core.ConsoleAppender">

        <encoder>
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n
            </pattern>
        </encoder>

    </appender>

    <!-- File 輸出 -->
    <appender name="FILE"
              class="ch.qos.logback.core.FileAppender">

        <!-- log 檔 -->
        <file>${LOG_PATH}/report.log</file>

        <!-- 每次啟動覆蓋 -->
        <append>false</append>

        <encoder>
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n
            </pattern>
        </encoder>

    </appender>

    <!-- root logger -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>

</configuration>